@charset "utf-8";
$mobile: (639px, max); //~767px

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacityIE: $opacity * 100;
  filter: alpha(opacity=$opacityIE);
}

@mixin transition($value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, "" {
    #{$prefix}transition: $value;
  }
}

@mixin transform($value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, "" {
    #{$prefix}transform: $value;
  }
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
